@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.ttf");
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* TEXTS */

h1,
h2,
p {
  margin: 0.5em 0em 0.5em 0em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

/* NAVBAR and FOOTER */

.navbar,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar h1 {
  font-size: 20px;
  font-weight: bold;
  color: #f9faf8;
  display: flex;
  align-items: center;
}

.navbar a {
  color: #f9faf8;
  font-size: 12px;
  padding-left: 7px;
  text-decoration: none;
}

/* ABOUT US PAGE */

/* HR */

hr {
  width: 2.5em;
  margin-left: 0;
}

/* BUTTONS */

button {
  font-size: 18px;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 1em;
}

.primary-btn {
  background-color: #3882f6;
  color: #e5e7eb;
}

.primary-btn:hover {
  transition: color 0.2s ease-in-out;
  background-color: #1f2937;
}

.secondary-btn {
  background-color: transparent;
  color: #f9faf8;
  border: 1.5px #f9faf8 solid;
}

.secondary-btn:hover {
  transition: color 0.2s ease-in-out;
  background-color: #f9faf8;
  color: #1f2937;
}

header {
  height: 10vh;
  background-color: #1f2937;
}

/* INPUT */

input[type="text"] {
  background-color: #f9faf8;
  color: #1f2937;
  border: none;
  border-radius: 0.5em;
  padding: 10px;
}

/* RESPONSIVE */

.mobile {
  display: none;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 3em 2em 1em 2em;
  gap: 3em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo-text {
  font-size: 20px;
  color: #f9faf8;
}

.footer-info-container {
  display: flex;
  gap: 5em;
}

.footer-info {
  flex: 2;
  text-align: center;
}

.newsletter,
.footer-contacts,
.social {
  flex: 1;
}

.newsletter-btn {
  display: flex;
  align-items: center;
  gap: 1em;
}

.newsletter-btn button {
  margin-top: 0;
}

.social ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  padding: 0;
}

.social li {
  display: flex;
  align-items: center;
  margin: 2px 0;
  gap: 5px;
}

.social img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.social img:hover {
  opacity: 0.75;
}

.footer-contacts ul {
  padding: 0;
  list-style-type: none;
}

.copyright {
  text-align: center;
  font-size: 10px;
}

/*  Smartphones  */
@media (max-width: 768px) {
  /* FOOTER */

  footer {
    gap: 3em;
  }

  .footer-info-container {
    flex-direction: column;
    gap: 2em;
  }

  .footer-info,
  .newsletter,
  .footer-contacts,
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .social ul {
    justify-content: center;
  }

  .newsletter-btn {
    justify-content: center;
  }

  footer ul {
    padding: 0;
  }

  footer li {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
}
