
/* Common Components */

p {
   line-height: 25px;
}

.about-us-info-textbox {
   width: 30vw;
   display: flex;
   flex-direction: column;
   align-items: start;
}

/* ABOUT US HERO */

.about-us-hero {
    height: 50vh;
    background-color: #1F2937;
    color: #F9FAF8; 
    display: flex;
    padding: 0 2em 0 2em;
  }
  
.about-us-image-container, .about-us-text-container{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
 }
  
.about-us-hero hr {
   color: #F9FAF8;
   opacity: 0.85;
}
  
.hero-image {
   width: 40vh;
   height: auto;
}
  
 /* ABOUT US MISSION & VALUES SECTION */
  
.about-us-values {
   display: flex;
   justify-content: space-around;
   padding: 3em 2em;
}
  
.about-us-card {
   width: 35vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
  
 .circle-icon {
   width: 5em;
   height: 5em;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: #1F2937;
}
  
.circle-icon img {
   width: 3em;
   height: auto;
}
  
/* IMAGEBOX SECTION */
  
.about-us-imagebox {
   position: relative;
   height: 40vh;
   background-image: url("../images/about-us/landscape2.jpg");
   background-size: cover;
   background-repeat: repeat-x;  
   background-position: center center;
   background-attachment: fixed;
}
  
.about-us-imagebox-hoverlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 40vh;
   background-color: rgba(31, 41, 55, 0.6);
   display: flex;
}
  
.about-us-imagebox-text {
   margin: 4em;
   width: 40vw;
   color: #F9FAF8;
}
  
/* TEAM SECTION */
  
.about-us-team {
   background-color: #E5E7EB;
   display: flex;
   justify-content: space-around;
   padding: 0 2em 0 2em;
   color: #1F2937;
   padding: 3em 2em;
}
  
.about-us-team-info-container {
   width: 30vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
  
.about-us-team-info-container hr {
   color: #1F2937;
}
  
.about-us-team-members {
   width: 60vw;
   display: flex;
   justify-content: space-around;
}
  
.team-member {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}
  
.member {
   width: 13vw;
   height: 13vw;
}
  
.team-member  h2 {
   font-size: 16px;
}
  
.team-member  p {
   font-size: 14px;
   margin: 0;
}
  
/* SERVICES SECTION */
  
.about-us-services {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   padding: 3em 2em;
}
  
.about-us-services-container {
   display: flex;
   justify-content: space-around;
   width: 100%;
}
  
.service {
   width: 20vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
  
.service img {
   width: 7em;
   height: auto;
}

.dest_call {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 3em 0;
 }

 .call_box {
   width: 70vw;
   min-height: var(--section_height);
   background: var(--cta);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   color: var(--main_text);
   border-radius: 5px;
   padding: 2em;
 }
 
 .call_box h3 {
   margin-bottom: 40px;
   font-family: "Roboto", sans-serif;
   font-size: 1.5em;
 }
 
 .call_box p {
   font-size: 1.2em;
   max-width: 250px;
   line-height: 2em;
 }
 
 .call_box button {
   align-self: center;
   padding: 12px 30px 12px 30px;
   border: 3px var(--main_text) solid;
   border-radius: 10px;
   background: transparent;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   color: #e5e7eb;
 }
 
 .call_box button:hover {
   background-color: var(--main_text);
   color: cornflowerblue;
 }
  
/*  Smartphones  */
@media (max-width: 768px) {

   /* Common Components */

   .about-us-info-textbox {
      width: 100%;
      align-items: center;
      text-align: center;
  }

    hr {
       display: none;
    }
  
    /* HERO SECTION */
    
    .about-us-hero {
      height: 75vh;
      flex-direction: column;
    }
  
    .about-us-image-container,
    .about-us-text-container {
      width: 100%;
    }
  
    /* MISSION & VALUES SECTION */
  
    .about-us-values {
        flex-direction: column;
        gap: 3em;
    }
  
    .about-us-card {
        width: 100%;
    }
  
    /* IMAGEBOX SECTION */
  
    .about-us-imagebox-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2em 1em;
    }
  
    /* TEAM SECTION */
  
    .about-us-team {
        flex-direction: column;
        gap: 3em;
    }
  
    .about-us-team-info-container {
        width: 100%;
    }
  
    .about-us-team {
        height: auto;
        flex-direction: column;
        padding: 2em;
    }
  
    .about-us-team-members {
        width: auto;
        flex-wrap: wrap;
        gap: 1em;
    }
  
    .member {
        width: 10em;
        height: 10em;
    } 
  
    /* SERVICES SECTION */
  
    .about-us-services-container {
        flex-wrap: wrap;
        gap: 5em;
    }
  
    .service {
        width: auto;
    }

    .call_box {
      justify-content: center;
      flex-direction: column;
    }
}