body {
  width: 100vw;
  margin: 0;
}
main {
  position: relative;
}
figcaption {
  font-size: smaller;
  color: gray;
}
.scroll-top {
  position: absolute;
  top: 120vh;
  bottom: 3rem;
  right: 2rem;
}
.scroll-top__link {
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.activities-page {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header-container {
  width: 100vw;
  height: 200px;
  margin: 0;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container h1 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.image-index-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  padding: 30px 0;
}
.image-index-container .img-menu {
  width: 100%;
  height: auto;
  border-radius: 10%;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}
.img-menu-boxes {
  width: 12vw;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transform: scale(1);
  transition: 1s ease-in-out;
}
.img-menu-boxes:hover {
  transform: scale(1.1);
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
  transition: transform 1s;
}
.img-menu-boxes figcaption {
  color: var(--main_text);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-menu-boxes a {
  text-decoration: none;
}

.activity-section {
  width: 100vw;
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-flow: row;
}
.activity-gray-bg {
  background-color: #e5e7eb;
}

.intro-container {
  width: 25%;
  padding-left: 10px;
}
.intro-container p {
  width: 100%;
  text-align: justify;
}
.ins-container {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}
.ins-container .activity-card {
  width: 20vw;
}
.activity-card .act-img {
  width: 100%;
  border-radius: 10px;
}
.activity-card p {
  width: 100%;
  text-align: justify;
}
.activity-links-footer {
  text-align: center;
}
.activity-links-footer a {
  margin: 0 5px;
  font-size: 1em;
  color: #f9faf8;
  text-decoration: none;
}
.activity-links-footer a:hover {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .header-container {
    height: 150px;
  }
  .header-container h1 {
    font-size: 1.2em;
  }
  .image-index-container {
    column-gap: 2px;
  }
  .img-menu-boxes {
    width: 80px;
    height: auto;
  }
  .image-index-container .img-menu {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .img-menu-boxes figcaption {
    font-size: 2.1vw;
  }
  .activity-section {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .ins-container {
    flex-direction: column;
  }
  .intro-container,
  .ins-container {
    width: 90vw;
  }
  .ins-container .activity-card {
    width: 100%;
  }
}
