@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
}

* {
  margin: 0;
}

body {
  width: 100vw;
  height: auto;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVBAR and FOOTER */

.navbar,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar h1 {
  font-size: 20px;
  font-weight: bold;
  color: #f9faf8;
  display: flex;
  align-items: center;
}

.navbar a {
  color: #f9faf8;
  font-size: 12px;
  padding-left: 7px;
  text-decoration: none;
}

footer {
  color: #f9faf8;
  font-size: 12px;
}
/* NAVBAR and FOOTER */
