@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "section-header";
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
  font-size: 36px;
  font-weight: bold;
  color: var(--header-text-color);
}

:root {
  --dark-background-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --header-logo-text-color: #f9faf8;
  --button-color: #3882f6;
  --header-text-color: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  margin: 0;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-background-color);
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--header-logo-text-color);
}

.navbar a {
  color: var(--secondary-text-color);
  font-size: 18px;
  padding-left: 7px;
  text-decoration: none;
}
/* Activities */
.activities-page {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
.searchbar-container {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 30px 0 30px 0;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar-container .header-text {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.searchbar-container input {
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}
.image-index-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
}
.image-index-container .img-menu {
  height: auto;
  width: 12vw;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin: 0 1.5vw;
  filter: brightness(50%);
}
.image-index-container .img-menu:hover {
  filter: brightness(100%);
}
.activity-section {
  background-color: #e5e7eb;
  display: flex;
  margin: 0;
  padding: 10px 20px;
}
.activity-section h2 {
  font-family: "section-header";
}
.activity-section article {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
.sub-section {
  width: 60em;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.sub-section img {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 15px;
}

@media screen and (max-width: 500px) {
  .activity-section {
    flex-direction: column;
    padding: 10px 10px;
  }
  .sub-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .sub-section img {
    width: 50vw;
    height: auto;
    float: none;
    margin-right: 0;
  }
  .sub-section p {
    margin: 0;
    padding: 10px;
  }
}
